@font-face {
	src: url(../fonts/montserrat-light.ttf);
    font-family: montserrat-light;
    
}
@font-face {
	src: url(../fonts/montserrat-ExtraBold.ttf);
    font-family: montserrat-ExtraBold;
    
}
@font-face {
	src: url(../fonts/montserrat-regular.otf);
    font-family: montserrat-regular;
    
}
@font-face {
    src: url(../fonts/Montserrat-Bold.ttf);
    font-family: Montserrat-Bold;
    
}
@font-face {
    src: url(../fonts/Montserrat-Medium.ttf);
    font-family: Montserrat-Medium;
    
}
@font-face {
    src: url(../fonts/Nunito-Regular.ttf);
    font-family: Nunito-Regular;
    
}
@font-face {
    src: url(../fonts/Nunito-Bold.ttf);
    font-family: Nunito-Bold;
    
}
@font-face {
    src: url(../fonts/Nunito-Black.ttf);
    font-family: Nunito-Black;
    
}
.top-nav-nav{
    background-color: #2c3437;
    padding-top: 0px;
    padding-bottom: 0px;
}
.side-bar{
    background-color: #2c3437;
}
.red li a{
    color: lightgrey;
}
.red li a:hover{
    background-color: #ff3333;
    color: white;
}
.btn-submit{
    background-color: #ff3333;
    color: white;
    width: 132px !important;
    margin-top: 23px;
    font-family: Montserrat-ExtraBold !important;
}
#dropzone {
            background-color: #fff;
  position: relative;
  border: 1px dotted #00b22d;;
  color: white;
  height: 150px;
  text-align: center;
  width: 200px;
}

#dropzone:hover {
  border: 1px solid #555;
  color:#00b22d ;
}

#dropzone.dropped {
  border: 1px solid #00b22d;
}

#dropzone div {
  color: #999999;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#dropzone img {
  width: 198px;
  height: 148px;
}

#dropzone [type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.hasiba{
  color: red;
}
/*HOTELS*/
.effect1{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}
.box {
    width:100%;
    height:100%;
    background:#FFF;
    margin:40px auto;
}
.btn-hotel{
  float: right;
}
.btn-add{
  border-radius: 0px;
  margin-bottom: 4px;
}
.btn-margin{
  margin-left: 6px;
}
.btn-marginn{
  margin-right: 6px;
}

.hotel-table{
padding-top: 15px;
padding-left: 10px;
}
.table-earning thead th {
    background: #333;
    font-size: 16px;
    color: #fff;
    vertical-align: middle;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1;
    padding: 22px 0px;
    text-align: center;

}
.check-it{
  background-color: white;
  border-radius: 0px;
  width: 100px;

}
.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;

}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.check-margin{
margin-left: 40px;
}
.edit{
  color:  #f79420;
  margin-left: 45px;
}
.delete{
  color: red;
  margin-left: 45px;
}
.tick{
  color: green;
  margin-left: 45px;
}
.execution{
  float: right;
  font-size: 12px;
}
.memory{
  margin-left: 15px;
  margin-right: 10px;
}
.btn-search{
background-color: #f79420;
}
/*Hotel-Add*/
.check-me{
  margin-left: 10px;
}
.check-to{
  margin-top: 10px;
}
.blue-btn{
  border-radius: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.addcar-button{
    width: 80px;
    height: 40px;
    background-color: #466df1;
    color: white;
}
.tax{
  color: #b94a48 !important;
}
